[submodule "submodule1"]
	path = submodule1
	url = https://github.com/AlenaKarp/submodule1.git
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/AlenaKarp/submodule2.git
[submodule "submodule3"]
	path = submodule3
	url = https://github.com/AlenaKarp/submodule3.git
[submodule "submodule4"]
	path = submodule4
	url = https://github.com/AlenaKarp/submodule4.git
[submodule "submodule5"]
	path = submodule5
	url = https://github.com/AlenaKarp/submodule5.git
[submodule "submodule6"]
	path = submodule6
	url = https://github.com/AlenaKarp/submodule6.git
[submodule "submodule7"]
	path = submodule7
	url = https://github.com/AlenaKarp/submodule7.git
[submodule "submodule8"]
	path = submodule8
	url = https://github.com/AlenaKarp/submodule8.git
[submodule "submodule9"]
	path = submodule9
	url = https://github.com/AlenaKarp/submodule9.git
[submodule "submodule0"]
	path = submodule0
	url = https://github.com/AlenaKarp/submodule0.git
[submodule "submodule10"]
	path = submodule10
	url = https://github.com/AlenaKarp/submodule10.git
[submodule "submodule11"]
	path = submodule11
	url = https://github.com/AlenaKarp/submodule11.git
[submodule "submodule12"]
	path = submodule12
	url = https://github.com/AlenaKarp/submodule12.git
[submodule "submodule13"]
	path = submodule13
	url = https://github.com/AlenaKarp/submodule13.git
[submodule "submodule14"]
	path = submodule14
	url = https://github.com/AlenaKarp/submodule14.git
[submodule "submodule15"]
	path = submodule15
	url = https://github.com/AlenaKarp/submodule15.git
[submodule "submodule16"]
	path = submodule16
	url = https://github.com/AlenaKarp/submodule16.git
[submodule "submodule17"]
	path = submodule17
	url = https://github.com/AlenaKarp/submodule17.git
[submodule "submodule18"]
	path = submodule18
	url = https://github.com/AlenaKarp/submodule18.git
[submodule "submodule19"]
	path = submodule19
	url = https://github.com/AlenaKarp/submodule19.git
[submodule "submodule20"]
	path = submodule20
	url = https://github.com/AlenaKarp/submodule20.git
[submodule "submodule21"]
	path = submodule21
	url = https://github.com/AlenaKarp/submodule21.git
[submodule "submodule22"]
	path = submodule22
	url = https://github.com/AlenaKarp/submodule22.git
[submodule "submodule23"]
	path = submodule23
	url = https://github.com/AlenaKarp/submodule23.git
[submodule "submodule24"]
	path = submodule24
	url = https://github.com/AlenaKarp/submodule24.git
[submodule "submodule25"]
	path = submodule25
	url = https://github.com/AlenaKarp/submodule25.git
[submodule "submodule26"]
	path = submodule26
	url = https://github.com/AlenaKarp/submodule26.git
[submodule "submodule27"]
	path = submodule27
	url = https://github.com/AlenaKarp/submodule27.git
[submodule "submodule28"]
	path = submodule28
	url = https://github.com/AlenaKarp/submodule28.git
[submodule "submodule29"]
	path = submodule29
	url = https://github.com/AlenaKarp/submodule29.git
[submodule "submodule30"]
	path = submodule30
	url = https://github.com/AlenaKarp/submodule30.git
